---
---

@import "{{ site.theme }}";

@font-face {
    font-family: hitmarkerText;
    src: url(HitmarkerText-VF.ttf);
}


/* Base styles */
.table-container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex-basis: calc(33.33% - 20px); /* Adjust this for spacing */
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .header,
  .data {
    text-align: center;
    font-family: hitmarkerText;
    color: #000000;
  }

  .data
  {
    justify-content: end;
  }
  
  /* Media query for mobile layout */
  @media (max-width: 767px) {
    .table-container {
      flex-direction: column;
    }
    .column {
      border: none;
      margin-bottom: 20px;
    }
  }

.main-content h2 {
    color: #D61D00;
    font-family: hitmarkerText;
  }

.main-content h1 {
    color: #D61D00;
    font-family: hitmarkerText;
  }

p {
    font-family: hitmarkerText;
    color: #000000;
  }

  .project-name{
    font-family: hitmarkerText;
  }

  .btn{
    font-family: hitmarkerText;
  }

