---
---

@import "{{ site.theme }}";

@font-face {
    font-family: hitmarkerText;
    src: url(HitmarkerText-VF.ttf);
}


.table-container {
    overflow-x: auto; /* Add horizontal scroll on small screens */
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Media query for desktop layout */
  @media (min-width: 768px) {
    .table-container {
      overflow-x: initial; /* Remove horizontal scroll on larger screens */
    }
    table {
      display: table;
    }
    tr {
      display: table-row;
    }
    th, td {
      display: table-cell;
      border: 1px solid #ddd;
    }
  }
  
  /* Media query for mobile layout */
  @media (max-width: 767px) {
    table {
      border: none;
    }
    th, td {
      display: block;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  }

.main-content h2 {
    color: #D61D00;
    font-family: hitmarkerText;
  }

p {
    font-family: hitmarkerText;
  }

