/* Light Theme */
:root {
	--border1: var(--green1);
	--border2: var(--black1);
	--border3: var(--black1);
	--icon1: var(--shade11);
	--icon1-hover: var(--green9);
	--icon1-selected: var(--primary-red-crimson);
	--input1: var(--white5);
	--input2: var(--green1);
	--bg1: var(--white5);
	--bg2: var(--green1);
	--bg3: var(--green2);
	--bg4: var(--green1);
	--button1: var(--primary-red);
	--tag1: var(--primary-green-light);
	--tag2: var(--primary-green-light);
	--text-button: var(--white5);
	--text-link: var(--primary-green-wasabi);
	--text-tag: var(--primary-green-dark);
	--text-hover: var(--primary-red-crimson);
	--text1: var(--shade11);
	--text2: var(--shade5);
	--text3: var(--shade3);
	--text4: var(--shade2);
	--text5: var(--white5);


	/* === Tokens decommissioned from theme.json settings.custom === */
	/* Vars below replace --wp--custom--* references in inc/blocks/*/style-index.css */
	/* and assets/css/style-single.css. Generated 2026-05-10. */
	--blocks-banners-body-subtle: #2e2e2e;
	--blocks-button-primary-hover-icon-fg-subtle: #171717;
	--blocks-button-tertiary-enabled-icon-fg-subtle: #5d5d5d;
	--blocks-button-primary-hover-icon-fg-bold: #171717;
	--blocks-ad-wrapper-fg: #494949;
	--blocks-button-primary-hover-icon-bg-subtle: #8f8f8f33;
	--blocks-button-primary-hover-text-fg-bold: #FEFEFE;
	--blocks-button-primary-hover-text-bg-subtle: #E9682C;
	--blocks-button-primary-hover-text-bg-strong: #FEFEFE;
	--blocks-button-primary-hover-text-fg-subtle: #5D1010;
	--blocks-button-secondary-hover-border-subtle-color: #5d101000;
	--blocks-button-secondary-hover-text-fg-subtle: #5D1010;
	--blocks-button-tertiary-hover-text-fg-subtle: #960516;
	--blocks-banners-body-bold: #2e2e2e;
	--blocks-button-primary-hover-text-fg-sponsored: #FEFEFE;
	--blocks-button-primary-enabled-icon-bg-subtle: #8f8f8f1a;
	--blocks-button-primary-enabled-icon-fg-bold: #2e2e2e;
	--blocks-button-primary-enabled-text-fg-bold: #F8F8F8;
	--blocks-button-primary-enabled-text-bg-subtle: #DF3018;
	--blocks-button-tertiary-hover-icon-fg-strong: #E9E9E9;
	--blocks-button-primary-enabled-text-fg-subtle: #FEFEFE;
	--blocks-button-secondary-enabled-border-subtle-color: #96051600;
	--blocks-button-secondary-enabled-text-fg-subtle: #960516;
	--blocks-button-tertiary-enabled-text-fg-subtle: #BC031D;
	--blocks-banners-bg-strong: #2e2e2e;
	--blocks-button-primary-hover-icon-bg-bold: #49494933;
	--blocks-button-primary-hover-icon-bg-strong: #fefefe40;
	--blocks-button-primary-hover-text-fg-strong: #171717;
	--blocks-button-secondary-hover-border-bold-color: #17171700;
	--blocks-button-secondary-hover-border-sponsored-color: #49494900;
	--blocks-button-secondary-hover-border-strong-color: #fefefe00;
	--blocks-button-secondary-hover-text-bg-bold: #2e2e2e26;
	--blocks-button-secondary-hover-text-bg-minimal: #75757526;
	--blocks-button-secondary-hover-text-bg-sponsored: #5d5d5d26;
	--blocks-button-secondary-hover-text-bg-strong: #f8f8f826;
	--blocks-button-secondary-hover-text-bg-subtle: #e9682c26;
	--blocks-button-secondary-hover-text-fg-strong: #FEFEFE;
	--blocks-button-tertiary-hover-text-fg-bold: #010101;
	--blocks-banners-bg-minimal: #E9E9E9;
	--blocks-button-primary-enabled-icon-bg-bold: #4949491a;
	--blocks-button-primary-enabled-icon-bg-strong: #fefefe1a;
	--blocks-button-secondary-enabled-border-bold-color: #2e2e2e00;
	--blocks-button-secondary-enabled-border-sponsored-color: #5d5d5d00;
	--blocks-button-secondary-enabled-border-strong-color: #f8f8f800;
	--blocks-button-secondary-enabled-text-bg-bold: #2e2e2e1a;
	--blocks-button-secondary-enabled-text-bg-minimal: #7575751a;
	--blocks-button-secondary-enabled-text-bg-sponsored: #5d5d5d1a;
	--blocks-button-secondary-enabled-text-bg-strong: #f8f8f81a;
	--blocks-button-secondary-enabled-text-bg-subtle: #e9682c1a;
	--blocks-button-secondary-enabled-text-fg-strong: #F8F8F8;
	--blocks-button-tertiary-enabled-icon-fg-bold: #494949;
	--blocks-button-tertiary-enabled-icon-fg-strong: #a7a7a7;
	--blocks-button-tertiary-enabled-text-fg-strong: #E9E9E9;
	--blocks-button-tertiary-hover-icon-fg-bold: #171717;
	--blocks-star-unfilled-fg-minimal: #E9E9E9;
	--blocks-ad-wrapper-bg: #F8F8F8;
	--blocks-article-banners-bg-announcement: #2e2e2e;
	--blocks-article-banners-fg-announcement: #C9C9C9;
	--blocks-banners-body-strong: #E9E9E9;
	--blocks-banners-bg-bold: #BDD52D;
	--blocks-banners-bg-subtle: #ffdbc5;
	--blocks-button-tertiary-bg: #fefefe00;
	--blocks-button-tertiary-pressed-icon-fg-bold: #171717;
	--blocks-button-tertiary-pressed-icon-fg-strong: #FFB68B;
	--blocks-icons-fg: #010101;
	--blocks-star-filled-fg-bold: #FEFEFE;
	--blocks-star-filled-fg-minimal: #DF3018;
	--blocks-star-filled-fg-sponsored: #494949;
	--blocks-star-filled-fg-strong: #FF854A;
	--blocks-star-filled-fg-subtle: #BC031D;
	--blocks-star-unfilled-fg-bold: #E9E9E9;
	--blocks-star-unfilled-fg-strong: #8f8f8f;
	--blocks-star-unfilled-fg-subtle: #C9C9C9;
}