
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta name="apple-itunes-app" content="app-id=6754783254">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/jpg" href="http://camotracker.djr.li/icon.jpg">
{% seo %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#e9712d">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>

  <body>

    <!-- HEADER -->
    <header class="page-header" style="background-image: linear-gradient(120deg, #e9712d, #000000); background-color: #e9712d;" role="banner">
      <h1 class="project-name">Camo Tracker</h1>
      
      <a class="btn" href="/">Home</a>
      <a class="btn" href="/bo7">Black Ops 7 BO7</a>
      <a class="btn" href="/bo6">Black Ops 6 BO6</a>
      <a class="btn" href="/mw3">Modern Warfare III MW3</a>
      <a class="btn" href="/mw2">Modern Warfare II MW2</a>
      <a class="btn" href="/mw">Modern Warfare</a>
      <a class="btn" href="/cw">Cold War</a>
      <a class="btn" href="/vanguard">Vanguard</a>
      
    </header>

    <!-- MAIN CONTENT -->
    <main id="content" class="main-content" role="main">
      {{ content }}

    <!-- FOOTER  -->
      <footer class="site-footer">
        <p><a href="/privacy-policy.html">Privacy Policy</a></p>
        <p style="color: rgb(80, 80, 80);">This website, advertised apps and its content are not affiliated, endorsed, sponsored, or approved by Call of Duty, Activision, or any of their respective subsidiaries, affiliates, partners, or licensors. All trademarks, service marks, trade names, product names, and logos appearing on this website are the property of their respective owners.
          
          The Call of Duty franchise is a trademark of Activision Publishing, Inc. All other trademarks and trade names are property of their respective owners. All In-Game Images are the sole property of Activision, Infinity Ward, Raven Software, Treyarch, Sledgehammer Games, or their respective owners. Any such Content is used for educational purposes only!          

          This disclosure is intended to clarify that this website operates independently and is not associated with, sponsored by, or endorsed by Call of Duty, Activision, or any of their affiliates. For official information, updates, and support regarding Call of Duty games and related products, please visit the official Call of Duty website or authorized platforms.</p>
      </footer>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
